---
import { render } from 'astro:content';

import ArticleLayout from '@layouts/ArticleLayout.astro';
import {getArticlePaths} from '@utils/article';

export const getStaticPaths=getArticlePaths('en');

const {entry}=Astro.props;
const {Content,headings}=await render(entry);
---

<ArticleLayout title={entry.data.title} headings={headings}>
  <h1>{entry.data.title}</h1>
  <Content/>
</ArticleLayout>
