---
import type { CollectionEntry } from 'astro:content';

import ArticleCard from './ArticleCard.astro';

interface Props{
  articles:CollectionEntry<'docs'>[];
}

const {articles}=Astro.props;
---

<div class="articlesGrid">
  {
    articles.map(article=>(
      <ArticleCard
        title={article.data.title}
        href={`/${article.id}`}
        categories={article.data.categories??[]}
        thumbnail={article.data.thumbnail?.src??''}
        description={article.data.description}
      />
    ))
  }
</div>

<style>
.articlesGrid {
  margin-top: 32px;
  display: grid;
  gap: 24px;
}

@media screen and (min-width:768px){
  .articlesGrid {
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  }
}
</style>
